/* ==UserStyle==
@name           twitter_like_change_nicoru
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    twitterでニコろう
@author         toarugema
==/UserStyle== */
@-moz-document url-prefix("https://x.com/") {
      
    /*
    ハートをニコるにする
    */
    path[d="M16.697 5.5c-1.222-.06-2.679.51-3.89 2.16l-.805 1.09-.806-1.09C9.984 6.01 8.526 5.44 7.304 5.5c-1.243.07-2.349.78-2.91 1.91-.552 1.12-.633 2.78.479 4.82 1.074 1.97 3.257 4.27 7.129 6.61 3.87-2.34 6.052-4.64 7.126-6.61 1.111-2.04 1.03-3.7.477-4.82-.561-1.13-1.666-1.84-2.908-1.91zm4.187 7.69c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"]{
        
        d: path("M 10.2,22.7 C 4.3,21.5 0.6,15.6 2.3,9.9 3.1,7.1 5,4.9 7.6,3.6 10.5,2.1 14,2.2 17,3.9 18.3,4.6 20.1,6.4 20.8,7.7 24,13.5 21.1,20.6 14.8,22.4 13.4,22.8 11.5,22.9 10.2,22.7 Z M 14.5,20.5 C 15.9,20 16.7,19.5 17.8,18.4 19.4,16.8 20.2,15.1 20.2,12.7 20.2,10.3 19.4,8.6 17.8,6.9 15.2,4.4 11.6,3.8 8.4,5.4 7.5,5.7 7.1,6.1 6.3,6.8 5.2,8 4.7,8.7 4.2,10.2 3.2,13.3 4.2,16.9 6.8,19 7.6,19.7 9.2,20.5 10.2,20.7 11.4,21 13.3,20.9 14.5,20.5 Z M 9.1,17.9 C 8.6,17.7 8.5,17.3 8.5,15.8 8.5,14.3 8.6,13.9 9,13.7 9.5,13.5 9.8,13.5 10.1,13.8 10.4,14.1 10.4,14.2 10.4,15.1 V 16.1 H 12 13.6 V 15.1 C 13.6,14.2 13.6,14.1 13.9,13.8 14.3,13.4 14.8,13.5 15.2,13.9 L 15.6,14.3 15.5,15.9 C 15.5,17.5 15.5,17.5 15.2,17.8 14.8,18.1 14.8,18.1 12.1,18.1 10.2,18.1 9.3,18 9.1,17.9 Z M 8.8,11.5 8.5,11.1 V 9.6 C 8.5,8 8.5,8 8.8,7.7 9.2,7.3 9.4,7.2 9.9,7.4 10.4,7.7 10.4,7.9 10.4,9.6 10.4,11.4 10.3,11.6 9.6,11.8 9.3,11.8 9.1,11.8 8.8,11.5 Z M 14.1,11.7 C 13.7,11.5 13.6,11.2 13.6,9.5 13.6,7.9 13.7,7.7 14.2,7.4 14.6,7.2 14.8,7.3 15.2,7.7 15.6,8 15.6,8 15.6,9.6 15.6,11.1 15.6,11.1 15.2,11.5 14.8,11.8 14.6,11.9 14.1,11.7 Z") !important;
        transition-timing-function: ease-out;
        transition-duration: 0.1s;
        
    }
    
    /*
    ニコった時
    */
    path[d="M20.884 13.19c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"]{
        
        
        d: path("M 10.3,21.6 C 4.4,20.5 0.8,14.7 2.4,9 3.2,6.3 5.1,4.1 7.7,2.8 10.6,1.3 14,1.4 17,3.1 18.2,3.8 20,5.6 20.7,6.8 23.9,12.5 21.1,19.5 14.8,21.4 13.4,21.8 11.6,21.9 10.3,21.6 Z M 14.5,19.4 C 15.9,19 16.7,18.5 17.7,17.5 19.4,15.8 20.1,14.1 20.1,11.8 20.1,9.4 19.4,7.7 17.7,6.1 15.2,3.6 11.6,3 8.4,4.5 7.6,4.9 7.2,5.2 6.4,6 5.3,7.1 4.8,7.9 4.4,9.3 3.3,12.4 4.3,15.9 6.9,18 7.7,18.7 9.2,19.5 10.2,19.7 11.5,20 13.3,19.9 14.5,19.4 Z M 7.3,15.1 C 7,14.9 6.7,14.4 6.8,14.1 6.8,13.9 7,13.7 7.1,13.6 7.4,13.4 7.6,13.3 9,13.3 10.8,13.3 11,13.4 11.2,14.1 11.2,14.5 11.2,14.6 10.9,14.9 L 10.5,15.3 H 9.1 C 8.2,15.3 7.5,15.2 7.3,15.1 Z M 13.3,14.9 C 12.8,14.5 12.8,14 13.2,13.6 13.5,13.4 13.6,13.3 14.5,13.3 H 15.4 V 11.8 10.2 H 14.5 C 13.6,10.2 13.5,10.2 13.2,9.9 12.9,9.6 12.8,9.3 13,8.8 13.3,8.3 13.7,8.2 15.3,8.3 17.4,8.3 17.3,8.1 17.4,11.7 V 14.5 L 17.1,14.9 C 16.8,15.2 16.8,15.2 15.2,15.2 L 13.6,15.3 Z M 7.1,9.9 C 6.8,9.6 6.7,9.3 6.9,8.9 7.1,8.4 7.5,8.3 9.1,8.3 H 10.5 L 10.9,8.6 C 11.2,8.9 11.2,9.1 11.2,9.4 11,10.1 10.8,10.2 9,10.2 7.6,10.2 7.4,10.2 7.1,9.9 Z ") !important;
        color: #fcd842 !important;
        transition-timing-function: ease-out;
        transition-duration: 0.1s;
        
        
    }
        
        /*
    ふぁぼにカーソル合わせた時に周囲がオレンジになるように
    */
    div.css-175oi2r.r-xoduu5.r-1p0dtai.r-1d2f490.r-u8s1d.r-zchlnj.r-ipm5af.r-sdzlij.r-xf4iuw.r-o7ynqc.r-6416eg.r-1krxqcr.r-1ny4l3l{
        
        background: rgba(244, 144, 12,0.09) !important;
        
    }
    
    /*
    ふぁぼにカーソル合わせた時に線がオレンジになるように
    */
    
    div.css-175oi2r.r-18u37iz.r-1h0z5md.r-13awgt0>button.css-175oi2r.r-1777fci.r-bt1l66.r-bztko3.r-lrvibr.r-1loqt21.r-1ny4l3l:hover>div.css-146c3p1.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1qd0xha.r-a023e6.r-rjixqe.r-16dba41.r-1awozwy.r-6koalj.r-1h0z5md.r-o7ynqc.r-clp7b1.r-3s2u2q>div.css-175oi2r.r-xoduu5>svg.r-4qtqp9.r-yyyyoo.r-dnmrzs.r-bnwqim.r-lrvibr.r-m6rgpd.r-1xvli5t.r-1hdv0qi>g>path[d="M16.697 5.5c-1.222-.06-2.679.51-3.89 2.16l-.805 1.09-.806-1.09C9.984 6.01 8.526 5.44 7.304 5.5c-1.243.07-2.349.78-2.91 1.91-.552 1.12-.633 2.78.479 4.82 1.074 1.97 3.257 4.27 7.129 6.61 3.87-2.34 6.052-4.64 7.126-6.61 1.111-2.04 1.03-3.7.477-4.82-.561-1.13-1.666-1.84-2.908-1.91zm4.187 7.69c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"]{
        
        color: rgb(244, 144, 12) !important;
        
    }
    
    
    /*
    ツイート詳細画面でもオレンジになるように
    */
    div.css-175oi2r.r-18u37iz.r-1h0z5md.r-13awgt0>button.css-175oi2r.r-1777fci.r-bt1l66.r-bztko3.r-lrvibr.r-1loqt21.r-1ny4l3l:hover>div.css-146c3p1.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1qd0xha.r-a023e6.r-rjixqe.r-16dba41.r-1awozwy.r-6koalj.r-1h0z5md.r-o7ynqc.r-clp7b1.r-3s2u2q>div.css-175oi2r.r-xoduu5>svg.r-4qtqp9.r-yyyyoo.r-dnmrzs.r-bnwqim.r-lrvibr.r-m6rgpd.r-50lct3.r-1srniue>g>path[d="M16.697 5.5c-1.222-.06-2.679.51-3.89 2.16l-.805 1.09-.806-1.09C9.984 6.01 8.526 5.44 7.304 5.5c-1.243.07-2.349.78-2.91 1.91-.552 1.12-.633 2.78.479 4.82 1.074 1.97 3.257 4.27 7.129 6.61 3.87-2.34 6.052-4.64 7.126-6.61 1.111-2.04 1.03-3.7.477-4.82-.561-1.13-1.666-1.84-2.908-1.91zm4.187 7.69c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"]{
        
        color: rgb(244, 144, 12) !important;

    }
    
    /*
    ふぁぼられた数
    */
    /*
    カーソル重ねた時
    */
    div.css-175oi2r.r-18u37iz.r-1h0z5md.r-13awgt0>button.css-175oi2r.r-1777fci.r-bt1l66.r-bztko3.r-lrvibr.r-1loqt21.r-1ny4l3l[data-testid="like"]:hover>div.css-146c3p1.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1qd0xha.r-a023e6.r-rjixqe.r-16dba41.r-1awozwy.r-6koalj.r-1h0z5md.r-o7ynqc.r-clp7b1.r-3s2u2q>div.css-175oi2r.r-xoduu5.r-1udh08x>span>span.css-1jxf684.r-1ttztb7.r-qvutc0.r-1tl8opc.r-n6v787.r-1cwl3u0.r-1k6nrdp.r-n7gxbd>span.css-1jxf684.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1tl8opc{
        
        color: rgb(244, 144, 12) !important;
        
    }
    /*
    ふぁぼった後の数字
    */
    button.css-175oi2r.r-1777fci.r-bt1l66.r-bztko3.r-lrvibr.r-1loqt21.r-1ny4l3l[data-testid="unlike"]>div.css-146c3p1.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1qd0xha.r-a023e6.r-rjixqe.r-16dba41.r-1awozwy.r-6koalj.r-1h0z5md.r-o7ynqc.r-clp7b1.r-3s2u2q>div.css-175oi2r.r-xoduu5.r-1udh08x>span>span.css-1jxf684.r-1ttztb7.r-qvutc0.r-1tl8opc.r-n6v787.r-1cwl3u0.r-1k6nrdp.r-n7gxbd>span.css-1jxf684.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1tl8opc{
        
        color: rgb(244, 144, 12) !important;
        
    }

    
    
}
